.about-title-area{
    height: 170px;
    background-position: center;
    background-size: cover;
    position: relative;
    @include media(web){
        height: 170px;
    }
    .container{
        position: relative;
        height: 170px;
        @include media(web){
            height: 170px;
        }
        
    }
    h1{
        font: 600 24px/24px $font;
        background: url("../../images/next.png") no-repeat left;
        background-size: 16px;
        position: absolute;
        z-index: 2;
        color: $color-white;
        padding-left: 35px;
        left: 15px;
        bottom: 20px;
        @include media(tablet){
            font: 600 30px/30px $font;
            left: 0;
            bottom: 40px;

        }
    }
}